*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #a1ffce, #faffd1);
}
.container{
    position: relative;
    width: 95%;
    height: 95vh;
    /* background: */
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 5px solid azure;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1), 0 0 10px rgba(0, 0, 0, .2), 0 0 15px rgba(0, 0, 0, .2);
    padding: 20px;
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.container .left{
    position: relative;
    width: 250px;
    height: 100%;
    background: azure;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 35px 35px 68px 0 rgba(255,255,255,.5),inset -8px -8px 16px 0 rgba(255,255,255,.6),inset 0px 11px 28px 0 rgb(255,255,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.container .left header{
    position: relative;
    width: 100%;
}
.container .left header .logo{
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .left header .logo h2{
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    color: black;
}
.container .left header .logo .close{
    position: relative;
    left: -20px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    display: none;
}
.container .left header nav{
    position: relative;
    padding: 20px 0 20px 20px;
}
.container .left header nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.container .left header nav ul li{
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .left header nav ul li a{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: .3s ease;
}
.container .left header nav ul li:first-child a,
a:hover{
    transition: 0s;
    background: rgb(204, 255, 204);
}
a::before{
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    background: rgb(0, 252, 168);
    transition: .3s ease;
}
.container .left header nav ul li:first-child a::before,
a:hover::before{
    width: 4px;
}


.container .left header nav ul li a .material-symbols-outlined{
    color: #788586;
    font-size: 1.7em;
    margin-right: 10px;
}
.container .left header nav ul li a .title{
    color: #8a9596;
    font-size: 1.1em;
}
.container .left header nav ul :first-child a .material-symbols-outlined,
.container .left header nav ul :first-child a .title,
.container .left header nav ul li a:hover .material-symbols-outlined,
.container .left header nav ul li a:hover .title{
    color: darkgreen;
}



.container .right{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container .right .top{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: azure;
    border-radius: 20px;

}
.container .right .top .searchbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.container .right .top .searchbox h2{
    color: black;
    font-size: 1.4em;
    cursor: pointer;
}
.container .right .top .searchbox .inputbx{
    position: relative;
    width: 250px;
    height: 40px;
    background: rgb(204, 255, 204);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    overflow: hidden;
}
.container .right .top .searchbox .inputbx span{
    color: #8a9596;
    cursor: pointer;
}
.container .right .top .searchbox .inputbx input{
    position: relative;
    width: 100%;
    height: 25px;
    outline: none;  
    border: none;
    background: transparent;
    margin-right: 10px;
    font-size: 1.2em;
    color: black;
}
.container .right .top .searchbox .inputbx span.searchClose{
    position: relative;
    right: 10px;
    cursor: pointer;
    display: none;
}
.container .right .top .user{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.container .right .top .user span{
    color: black;
    cursor: pointer;
}
.container .right .top .user .userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
.container .right .top .user .userimg img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.container .right .top .user h2{
    font-size: 1.1em;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
}
.container .right .top .user h2 span{
    color: #8a9596;
    font-size: .8em;
}
.container .right .top .user .arrow {
    position: relative;
    width: 40px;
    height: 40px;
}
.container .right .top .user .arrow span{
    color: #788586;
    font-size: 2em;
    transition: .3s ease;
}
.container .right .top .user .arrow:hover span{
    transform: scale(1.2);
}

.container .right .top .user .toggle{
    position: relative;
    width: 40px;
    height: 40px;
}
.container .right .top .user .toggle span{
    color: #788586;
    font-size: 1.5em;
    transition: .3s ease;
}
.container .right .top .user .toggle:hover span{
    transform: scale(1.2);
}
.container .right .top .user .toggle span:last-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
.container .right .top .user .toggle.active span:first-child{
    opacity: 0;
    visibility: hidden;
}
.container .right .top .user .toggle.active span:first-child{
    opacity: 1;
    visibility: visible;
}

























.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
