*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #a1ffce, #faffd1);
}
.container{
    position: relative;
    width: 95%;
    height: 95vh;
    /* background: */
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 5px solid azure;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1), 0 0 10px rgba(0, 0, 0, .2), 0 0 15px rgba(0, 0, 0, .2);
    padding: 20px;
    display: flex;
    gap: 20px;
    overflow: hidden;
}



.container .right{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container .right .top{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: azure;
    border-radius: 20px;

}
.container .right .top .searchbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.container .right .top .searchbox h2{
    color: black;
    font-size: 1.4em;
    cursor: pointer;
}
.container .right .top .searchbox .inputbx{
    position: relative;
    width: 250px;
    height: 40px;
    background: rgb(204, 255, 204);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    overflow: hidden;
}
.container .right .top .searchbox .inputbx span{
    color: #8a9596;
    cursor: pointer;
}
.container .right .top .searchbox .inputbx input{
    position: relative;
    width: 100%;
    height: 25px;
    outline: none;  
    border: none;
    background: transparent;
    margin-right: 10px;
    font-size: 1.2em;
    color: black;
}
.container .right .top .searchbox .inputbx span.searchClose{
    position: relative;
    right: 10px;
    cursor: pointer;
    display: none;
}
.container .right .top .user{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.container .right .top .user span{
    color: black;
    cursor: pointer;
}
.container .right .top .user .userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
.container .right .top .user .userimg img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.container .right .top .user h2{
    font-size: 1.1em;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
}
.container .right .top .user h2 span{
    color: #8a9596;
    font-size: .8em;
}
.container .right .top .user .arrow {
    position: relative;
    width: 40px;
    height: 40px;
}
.container .right .top .user .arrow span{
    color: #788586;
    font-size: 2em;
    transition: .3s ease;
}
.container .right .top .user .arrow:hover span{
    transform: scale(1.2);
}

.container .right .top .user .toggle{
    position: relative;
    width: 40px;
    height: 40px;
}
.container .right .top .user .toggle span{
    color: #788586;
    font-size: 1.5em;
    transition: .3s ease;
}
.container .right .top .user .toggle:hover span{
    transform: scale(1.2);
}
.container .right .top .user .toggle span:last-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
.container .right .top .user .toggle.active span:first-child{
    opacity: 0;
    visibility: hidden;
}
.container .right .top .user .toggle.active span:first-child{
    opacity: 1;
    visibility: visible;
}


.project-tasks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-column-gap: 1.5rem;
}
.project-column-heading {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-column-heading__title {
    font-size: 20px;
}
.task {
    cursor: move;
    background: azure;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    box-shadow: black;
    margin-bottom: 10px;
    border: 3px;
}
.task:hover {
    box-shadow: rgba(107, 118, 136, 0.2) 0px 2px 8px 0px;
}
.task p {
    font-size: 15px;
    margin: 1.2em 0;
}
.task__tag {
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 12px;
}
.task__tag--copyright {
    color: black;
    background-color: rgb(211, 242, 211);
}
.task__tag--design {
    color: black;
    background-color: rgb(255, 255, 185);
}
.task__tag--illustration {
    color: black;
    background-color: rgb(158, 236, 219);
}
.task__tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task__stats {
    position: relative;
    width: 100%;
    color: rgb(95, 95, 95);
    font-size: 12px;
}
.task__stats span:not(:last-of-type) {
    margin-right: 1rem;
}

#container-wrapper {
    text-align: right; /* Align container to the right */
    padding-right: 20px; /* Add some right padding */
}

.box-container {
    margin: 20px 0;/*this can be changed for adjusyting the containers*/
    display: inline-block; /* Display as inline-block to make it align to the right */
}

.box {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin: 20px 20px 0 0;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(240, 240, 242);
    transition: transform 0.3s ease;/*used for smooth transition*/
    color: #fff;
    overflow: hidden;/*this is used for the text to be inside the box*/
    text-align: left;
    vertical-align: top; /* Align the boxes to the top */
}

.box:hover {
    transform: translateX(22px);
    /*this for the animation*/
    
}

.writings {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: solid;
    color: rgb(60, 53, 53);
}

body {
    background-color: #a1ffce;
    color: red;
    text-align: right;
}

    .button {
--main-focus: #2d8cf0;
--font-color: #323232;
--bg-color-sub: #dedede;
--bg-color: #eee;
--main-color: #323232;
position: absolute;
width: 100px;
height: 30px;
cursor: pointer;
display: flex;
align-items: center;
border: 2px solid var(--main-color);
box-shadow: 4px 4px var(--main-color);
background-color: var(--bg-color);
border-radius: 10px;
overflow: hidden;
right: 250px;
top: 100px;
}

.button, .button__icon, .button__text {
transition: all 0.3s;
}

.button .button__text {
transform: translateX(22px);
color: var(--font-color);
font-weight: 600;
}

.button .button__icon {
position: absolute;
transform: translateX(109px);
height: 100%;
width: 39px;
background-color: var(--bg-color-sub);
display: flex;
align-items: center;
justify-content: center;
}

.button .svg {
width: 20px;
fill: var(--main-color);
}

.button:hover {
background: var(--bg-color);
}

.button:hover .button__text {
color: transparent;
}

.button:hover .button__icon {
width: 148px;
transform: translateX(0);
}

.button:active {
transform: translate(3px, 3px);
box-shadow: 0px 0px var(--main-color);
}