<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Page | Task Management</title>
  <link rel="stylesheet" href="style1.css">
  
</head>
<body>
  <div class="wrapper">
    <form action="/signup" method="post">
      <h1>Sign Up</h1>
      <div class="input-box">
        <input type="text" placeholder="Name"  required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Username" name="name" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" name="password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirm Password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
     
      <input type="submit" value="Sign Up"  class="btn" >
    </form>
  </div>
</body>
</html>